.add-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  h2 {
    color: ghostwhite;
    font-size: 1.75em;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin: 3%;
  }

  h3 {
    color: ghostwhite;
    font-size: 1.25em;
    letter-spacing: 2.5px;
    margin-top: 3%;
  }
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40%;
    width: 50%;
    padding: 0.5em;
    border: 3px solid rgba(41, 19, 6, 0.522);
    border-radius: 5px;
    background-color: darkslategray;
    box-shadow: $shadow-heavy;

  button {
    width: 40%;
    height: 15%;
    padding: 3px;
    margin: 1.5em auto 0.75em auto;
    border-radius: 5px;
    color: ghostwhite;
    background-color: cornflowerblue;
    font-size: 1rem;
    letter-spacing: 2.5px;

    &:hover {
      color: rgb(34, 34, 49);
      background-color: rgb(160, 192, 252);
    }
  }
}

.contact-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30%;

  input {
    text-align: center;
    width: 50%;
    height: 50%;
    padding: 5px;
    margin: 0.5em;
    border-radius: 5px;
  }
}

.phone-number {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 25%;

  input {
    text-align: center;
    height: 50%;
    margin: 3%;
  }
}

.form-error {
  color: red;
}

.phone-number {
  display: flex;
}

@media screen and (max-width: 376px) {


  .contact-form {
    height: 57%;
    width: 81%;
    margin-top: 1em;
  }
}


@media screen and (max-width: 360px) {
  .contact-form {
    height: 60%;
    width: 80%;
  }
}