.trip-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 45%;
  width: 40%;
  padding-top: 2em;
  padding-bottom: 1em;
  margin: 1em;
  border-radius: 5px;
  background-color: darkslategray;
  box-shadow: $shadow-heavy;

  button {
    width: 40%;
    height: 15%;
    padding: 3px;
    margin: 1.5em auto 0.75em auto;
    border-radius: 5px;
    color: ghostwhite;
    background-color: cornflowerblue;
    font-size: 1rem;
    letter-spacing: 2.5px;

    &:hover {
      color: rgb(34, 34, 49);
      background-color: rgb(160, 192, 252);
    }
  }
}

.search-location-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 25%;
}

.location-input {
  text-align: center;
  width: 60%;
  height: 8%;
  padding: 5px;
  margin: 0.5em;
  border-radius: 5px;
  font-size: 1em;
}

.dropdown {
  display: flex;
  flex-direction: column;
  width: 60%;
  // height: 10%;
  padding: 0.5em;
  color: black;
}