.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.trip-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 40%;
  width: 40%;
  margin: 3em;
  padding: 0.5em;
  border-radius: 5px;
  background-color: darkslategray;
  box-shadow: $shadow-heavy;

  input {
    text-align: center;
    width: 50%;
    height: 10%;
    padding: 5px;
    margin: 0.5em;
    border-radius: 5px;
  }

  button {
    width: 40%;
    height: 15%;
    padding: 3px;
    margin: 0.5em;
    border-radius: 5px;
  }
}

.dropdown {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 25%;
  padding: 0.5em;
  color: black;
}
