.about-us-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.about-us-title {
  font-size: 2em;
  text-shadow: #6E6355FF;
  font-family: $julius;
  margin: 0.5em auto 0.25em auto;
}

.bio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 0.5em;
  padding: 0.2em;
  width: 65%;
  height: 40%;
  overflow: scroll;
  overscroll-behavior: contain;
}

.bio-text {
  font-size: 16px;
  margin: 0.75em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.team-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2%;
  padding: 1%;
  width: 57%;
  height: 36%;
  box-shadow: $shadow-heavy;
  border-radius: 5px;
}

.card-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 37%;
}

.row-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-transform: uppercase;
  margin: 1% auto 1% auto;
  padding: 1%;
  max-height: 4%;
  font-family: $julius;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 0.3em;
}

.dev-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: ghostwhite;
  padding: 1%;
  max-height: 95%;
  width: 20%;
  border: 1px solid black;
}

.pic-container {
  width: 55%;
  height: 75%;
  box-shadow: $shadow-light;
}

.pic-link {
  width: 70%;
  height: 80%;
}

.dev-pic {
  width: 100%;
  height: 100%;
}

.name-link {
  text-decoration: none;
  margin: 7% auto 1% auto;
}

.dev-name {
  color: black;
  font-family: $roboto;
  text-shadow: 1px 1px 3px rgba(194, 160, 118, 0.741);
  font-weight: 500;
  font-size: 1.1em;
  letter-spacing: 0.1em;
}

@media screen and (max-width: 1300px) {
  .bio-container {
    width: 85%;
    height: 30%;
  }

  .bio-text {
    font-size: 0.8em;
  }

  .team-grid {
    width: 60%;
    height: 35%;
  }

  .row-title {
    font-size: 1em;
  }

  .dev-card {
    height: 80%;
    width: 20%;
  }

  .dev-name {
    font-size: 0.9em;
  }
}

// iPad
@media screen and (max-width: 1025px) {
  .bio-container {
    width: 90%;
    height: 35%;
  }

  .bio-text {
    font-size: 0.9em;
    margin: 1%;
  }

  .team-grid {
    width: 75%;
    height: 35%;
    padding-bottom: 2%;
  }

  .row-title {
    font-size: 1em;
    margin: 2% auto 0 auto;
  }

  .dev-card {
    margin: 2%;
    height: 75%;
    width: 19%;
  }

  .dev-name {
    font-size: 0.9em;
  }
}

// iPad Pro
@media screen and (max-width: 1025px) and (min-height: 1365px) {
  .about-us-title {
    font-size: 2.3em;
    margin: 0.5em auto 0.1em auto;
  }

  .bio-container {
    width: 90%;
    height: 33%;
  }

  .bio-text {
    font-size: 1.45em;
    margin: 1%;
  }

  .team-grid {
    width: 75%;
    height: 35%;
    margin-top: 3%;
    padding-bottom: 2%;
  }

  .row-title {
    font-size: 1.6em;
    margin: 2% auto 0 auto;
  }

  .dev-card {
    margin: 2%;
    height: 75%;
    width: 23%;
  }

  .dev-name {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 930px) {
  .bio-container {
    width: 80%;
    height: 30%;
  }

  .bio-text {
    font-size: 0.8em;
  }

  .team-grid {
    width: 75%;
    height: 40%;
  }

  .row-title {
    font-size: 1em;
  }

  .dev-card {
    height: 80%;
    width: 25%;
  }

  .dev-name {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 769px) {
  .bio-container {
    width: 85%;
    height: 28%;
  }

  .bio-text {
    font-size: 16px;
  }

  .team-grid {
    width: 85%;
    height: 36%;
    margin-top: 3%;
  }

  .row-title {
    font-size: 19px;
  }

  .dev-card {
    height: 81%;
    width: 29%;
  }

  .dev-name {
    font-size: 1em;
  }
}

@media screen and (max-width: 651px) {
  .bio-container {
    width: 90%;
    height: 33%;
  }

  .about-us-title {
    font-size: 1.3em;
  }

  .bio-text {
    font-size: 0.7em;
  }

  .team-grid {
    width: 90%;
    height: 34%;
  }

  .row-title {
    font-size: 0.9em;
  }

  .dev-card {
    height: 80%;
    width: 29%;
  }

  .dev-name {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 376px) {
  .about-us-title {
    font-size: 1.2em;
    margin: 0.8em auto 0.1em auto;
  }

  .bio-container {
    width: 88%;
    height: 32%;
    padding: 0.1em;
  }

  .bio-text {
    font-size: 9.5px;
  }

  .team-grid {
    width: 88%;
    height: 35%;
  }

  .row-title {
    font-size: 0.7em;
  }

  .dev-card {
    height: 75%;
    width: 30%;
  }

  .name-link {
    margin: 10% auto 1% auto;
  }

  .dev-name {
    font-size: 8px;
  }
}

@media screen and (max-width: 321px) {
  .about-us-title {
    font-size: 1em;
    margin: 0.8em auto 0.1em auto;
  }

  .bio-container {
    width: 88%;
    height: 30%;
    padding: 0.5em;
  }

  .bio-text {
    font-size: 8.1px;
  }

  .team-grid {
    width: 88%;
    height: 35%;
    padding-top: 0;
    padding-bottom: 0;
  }

  .row-title {
    font-size: 0.6em;
  }

  .dev-card {
    height: 70%;
    width: 30%;
  }

  .dev-name {
    font-size: 7px;
  }
}
