.app-header {
  display: flex;
  justify-content: center;
  text-align: center;
  justify-self: flex-start;
  align-items: center;
  height: 20%;
  width: 100%;
  font-family: $roboto;
  color: cornflowerblue;
  font-size: 2em;
  border: 5px solid rgb(29, 15, 70);
}