* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(166, 244, 196, 0.664);
  font-family: $roboto;
}

