.app-header {
  display: flex;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.75em;
  justify-self: flex-start;
  align-items: center;
  height: 15%;
  width: 100%;
  margin-bottom: -1em;
  color: #9DC7E4;
  font-size: 2.5em;
  text-shadow: 1px 1px 3px rgb(110, 99, 85);
}

@media screen and (max-width: 1025px) {
  .app-header {
    font-size: 2.3em;
    height: 8%;
    margin: 2%;
  }
}

@media screen and (max-width: 769px) {
  .app-header {
    font-size: 2em;
  }
}

@media screen and (max-width: 651px) {
  .app-header {
    font-size: 1.1em;
    height: 6%;
    margin: 2%;
  }
}

@media screen and (max-width: 376px) {
  .app-header {
    font-size: 1.5em;
    height: 5%;
    letter-spacing: 0.25em;
    margin-top: 1.7em;
    margin-bottom: 0.25em;
  }
}

@media screen and (max-width: 321px) {
  .app-header {
    font-size: 0.8em;
    height: 5%;
  }
}