.navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10%;
  font-family: $julius;
}

.welcome-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  height: 90%;
  padding: 1em auto 1em 1em;
}

.welcome-msg {
  margin-left: 1em;
  color:#6E6355;
  font-size: 2.5em;
  font-family: $julius;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 4px;
  line-height: 1.5;
}

// toggle & burger container

.nav-section {
  display: flex;
  justify-content: space-around;
  width: 15%;
  height: 90%;
  padding: 2em 0.5em 0.5em 0.5em;
}

.theme-toggle {
  width: 50%;
  margin: 0.25em;
}

// burger

.menu-item {
  text-decoration: none;
  text-transform: uppercase;
  color: ghostwhite;
  font-size: 1.75rem;
  margin: 2.5em auto 2.5em auto;

  &:hover {
    color: $light-blue;
  }

  &:active {
    color: black;
  }

}

/* Position and sizing of burger button */
.bm-burger-button {
  position: relative;
  // display: flex;
  // justify-self: center;
  // align-self: center;
  // margin-top: 1em;
  width: 36px;
  height: 30px;
  // top: 3%;
  // right: 2%;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #d34c4c;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 40px;
  width: 40px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  margin-top: 7em;
}

/* General sidebar styles */
.bm-menu {
  background: #2383D4;
  opacity: 0.9;
  padding: 2.5em 1.5em 0;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  height: 80% !important;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  display: none;
  width: 0;
  height: 0;
}

@media screen and (max-width: 1025px) {
  .welcome-container {
    width: 50%;
  }

  .nav-section {
    width: 30%;
  }

  .welcome-msg {
    font-size: 3em;
  }

  .bm-menu-wrap {
    margin-top: 10em;
  }

  .bm-menu {
    padding: 0.2em 0.1em 0;
  }

  .menu-item {
    font-size: 2.5rem;
    margin: 2.5em auto 2.5em auto;
  }

  .bm-item-list {
    padding: 1.5em;
  }
}

@media screen and (max-width: 930px) {
  .welcome-container {
    width: 50%;
  }

  .nav-section {
    width: 30%;
  }

  .welcome-msg {
    font-size: 2em;
  }

  .bm-burger-button {
    width: 25px;
    height: 25px;
  }

  .menu-item {
    font-size: 1.75rem;
  }
}

@media screen and (max-width: 651px) {
  .welcome-container {
    width: 40%;
  }

  .nav-section {
    width: 40%;
  }

  .welcome-msg {
    font-size: 1.4em;
  }

  .bm-menu-wrap {
    margin-top: 6.5em;
  }

  .bm-menu {
    margin-top: 0;
    padding: 0.1em 0.1em 0;
  }

  .menu-item {
    font-size: 1.5rem;
    margin: 2.5em auto 2.5em auto;
  }

  .bm-item-list {
    padding: 1em;
  }
}

@media screen and (max-width: 376px) {
  .navbar {
    height: 10%;
  }
   .welcome-container {
     width: 40%;
   }

   .nav-section {
     width: 50%;
   }
 
  .welcome-msg  {
    font-size: 1.2em;
  }

  .bm-burger-button {
    width: 25px;
    height: 25px;
  }
}

@media screen and (max-width: 321px) {
  .welcome-msg {
    font-size: 1em;
  }
}