$julius: 'Julius Sans One', sans-serif;
$tourney: 'Tourney', cursive;
$roboto: 'Roboto', sans-serif;

$white-blue: rgb(213, 238, 252);
$light-blue: rgb(148, 185, 254);

$shadow-heavy: inset 0 -3em 3em rgba(0, 0, 0, 0),
0.3em 0.3em 0.3em 0.1em rgba(0, 0, 0, 0.2),
0.5em 0.5em 0.5em 0.2em rgba(0, 0, 0, 0.2);

$shadow-light: inset 0 -3em 3em rgba(0, 0, 0, 0.049),
0.2em 0.2em 0.1em rgba(0, 0, 0, 0.049),
0.5em 0.5em 0.5em 0.2em rgba(0, 0, 0, 0.2);
