.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30%;
  width: 30%;
  border: 3px solid rgba(41, 19, 6, 0.522);
  background-color: darkslategray;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 2em;
  height: 100%;

  input {
    padding: 3px;
  }
}

.login-btn {
  font-size: 0.75em;
  width: 60%;
}

.guest-btn {
  color: blueviolet;
  font-size: 0.75em;
  width: 100%;
}