* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.App-header {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: cornflowerblue;
  font-size: 2em;
  padding: 2em;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
  height: 30%;
  width: 30%;
  border: 3px solid rgba(41, 19, 6, 0.522);
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 2em;
  height: 100%;
}