.trip-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  padding-bottom: 1em;
}

.trip-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 3em auto 3em auto;
  padding: 1em;
  width: 55%;
  height: 45%;
  background-color: #9DC7E4;
  box-shadow: $shadow-heavy;

  a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    width: 50%;
    height: 95%;
  }
}

.timers-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 85%;
}

.end-trip-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 20%;
}

.timers-container > div {
  margin: 0.5em;
}

.timers-container > svg {
  width: 100%;
  height: 100%;
}

.timer-wrapper {
  text-align: center;
  font-size: 2em;
  font-family: $roboto;
  text-shadow: 0.5px 0.5px 0.5px rgba(75, 76, 94, 0.493);
}

.end-trip-btn {
  width: 100% !important;
  height: 100% !important;
  font-size: 1.5rem;
  letter-spacing: 0.20em;
  align-self: center;
  color: ghostwhite;
  border: 1px solid ghostwhite;
  background-color: rgba(243, 156, 85, 0.829);
  font-family: $julius;

  &:hover {
    color: rgb(75, 75, 134);
    border: 1px solid rgb(110, 110, 194);
    background-color: rgb(252, 230, 160);
  }
}

@media screen and (max-width: 1025px) and (min-height: 1300px) {
  .trip-container {
    width: 80%;
    height: 50%;
    margin-top: 2em;
  }

  .timer-wrapper {
    font-size: 2.5em;
  }

  .end-trip-btn {
    font-size: 2em;
  }
}

@media screen and (max-width: 1025px) {
  .trip-container {
    width: 80%;
    height: 40%;
    margin-top: 2em;
  }

  .timers-container {
    width: 100%;
    height: 70%;
  }

  .timer-wrapper {
    font-size: 2em;
  }

  .end-trip-btn-container {
    height: 20%;
    width: 90%;
    margin-bottom: 1em;
  }

  .trip-container {
    a {
      width: 30%;
    }
  }

  .end-trip-btn {
    font-size: 1.7em;
  }
}

@media screen and (max-width: 930px) {
  .trip-container {
    width: 80%;
    height: 40%;
    padding: 0.2em;
    margin-top: 2em;
  }
  
  .timers-container {
    width: 80%;
    height: 70%;
  }
  
  .timer-wrapper {
    font-size: 1.5em;
  }
  
  .end-trip-btn-container {
    height: 20%;
    margin-bottom: 3em;
  }
  
  .trip-container {
    a {
      width: 30%;
    }
  }

  .end-trip-btn {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 769px) {
  .trip-container {
    width: 80%;
    height: 45%;
    padding: 0.2em;
    margin-top: 2em;
  }

  .timers-container {
    width: 80%;
    height: 70%;
  }

  .timer-wrapper {
    font-size: 1.5em;
  }

  .end-trip-btn-container {
    height: 15%;
    margin-bottom: 1em;
  }

  .trip-container {
    a {
      width: 30%;
    }
  }

  .end-trip-btn {
    font-size: 1.2em;
  }
}


@media screen and (max-width: 651px) {
  .trip-container {
    width: 60%;
    height: 70%;
    margin: 0.5em;
    justify-content: space-evenly;
  }

  .timers-container {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    height: 80%;
    margin-top: 1em;
  }

  .timer-wrapper {
    font-size: 1.2em;
  }

  .end-trip-btn-container {
    height: 15%;
    margin-top: 1em;
  }

  .trip-container {
    a {
      width: 55%;
    }
  }

  .end-trip-btn {
    font-size: 1em;
  }
}

@media screen and (max-width: 376px) {
  .trip-container {
    width: 65%;
    height: 70%;
    margin: 0.5em;
    justify-content: space-evenly;
  }

  .timers-container {
    height: 65%;
    margin-top: 1.5em;
  }

  .timer-wrapper {
    font-size: 1.1em;
  }

  .trip-container a {
    width: 55%;
    height: 90%;
  }

  .end-trip-btn-container {
    height: 10%;
    margin-top: 1.5em;
    margin-bottom: 0;
  }

  .end-trip-btn {
    font-size: 0.8em;
    text-shadow: 1px 1px rgba(38, 22, 22, 0.459);
  }
}

@media screen and (max-width: 321px) {
  .trip-container {
    width: 65%;
    height: 75%;
    margin-top: 0.75em;
  }

  .timer-wrapper {
    font-size: 0.9em;
  }

  .timers-container {
    height: 80%;
    margin-top: 0.5em;
  }

  .end-trip-btn-container {
    height: 10%;
    margin-top: 0.5em;
    margin-bottom: 0.75em;
  }

  .trip-container a {
    width: 60%;
    height: 100%;
  }
}