.trip-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.trip-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 4em;
  padding: 1em;
  width: 55%;
  height: 45%;
  background-color: #9DC7E4;
  box-shadow: $shadow-heavy;

  // END TRIP button size
  a {
    width: 40%;
    height: 20%;
  }
}

.timers-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 50%;
  width: 100%;
  padding: 0.5em;
}

.timers-container > div {
  margin: 0.5em;
}

.timers-container > svg {
  width: 100%;
  height: 100%;
}

.timer-wrapper {
  text-align: center;
  font-size: 2em;
}

.end-trip-btn {
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  letter-spacing: 0.20em;
  color: ghostwhite;
  border: 1px solid ghostwhite;
  background-color: rgba(243, 156, 85, 0.829);

  &:hover {
    color: rgb(75, 75, 134);
    border: 1px solid rgb(110, 110, 194);
    background-color: rgb(252, 230, 160);
  }
}

@media screen and (max-width: 1025px) and (min-height: 1300px) {
  .trip-container {
    width: 80%;
    height: 50%;
    margin-top: 2em;
  }

  .timer-wrapper {
    font-size: 2.5em;
  }

  .end-trip-btn {
    font-size: 2em;
  }
}

@media screen and (max-width: 1025px) {
  .trip-container {
    width: 80%;
    height: 50%;
    margin-top: 2em;
  }

  .timer-wrapper {
    font-size: 2.5em;
  }

  .end-trip-btn {
    font-size: 2em;
  }
}

@media screen and (max-width: 930px) {
  .trip-container {
    width: 70%;
    height: 60%;
    padding: 0.2em;
    margin-top: 2em;
  }

  .trip-container {
    // END TRIP button size
    a {
      margin: 1em;
      width: 30%;
      height: 4em;
    }
  }

  .timer-wrapper {
    font-size: 1.5em;
  }

  .end-trip-btn {
    font-size: 1em;
  }
}

@media screen and (max-width: 651px) {
  .trip-container {
    width: 70%;
    height: 68%;
    padding: 1em;
    margin: 0.1em;
  }

  .trip-container {
    a {
      margin-top: 1em;
      width: 60%;
      height: 4em;
    }
  }

  .timers-container {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 85%;
    width: 100%;
  }

  .timer-wrapper {
    font-size: 1.5em;
  }

  .end-trip-btn {
    font-size: 1em;
  }
}

@media screen and (max-width: 376px) {
  .trip-container {
    width: 70%;
    height: 67%;
    margin: 0.1em;
  }

  .trip-container {
    a {
      width: 60%;
      height: 4em;
    }
  }

  .timers-container {
    padding-top: 1em;
    height: 85%;
  }

  .timer-wrapper {
    font-size: 1.3em;
  }

  .end-trip-btn {
    font-size: 1em;
    margin-top: 0.5em;

  }
}

@media screen and (max-width: 321px) {
  .trip-container {
    width: 65%;
    height: 60%;
    margin: 0.1em;
  }

  .timer-wrapper {
    font-size: 1em;
  }
}